In [1]:
import pandas as pd 

df = pd.read_csv('Heart_Disease_Prediction.csv')

print("First five rows:")
print(df.head())

print("\nLast five rows:")
print(df.tail())

First five rows:
   Age  Sex  Chest pain type   BP  Cholesterol  FBS over 120  EKG results  \
0   70    1                4  130          322             0            2
1   67    0                3  115          564             0            2
2   57    1                2  124          261             0            0
3   64    1                4  128          263             0            0
4   74    0                2  120          269             0            2

   Max HR  Exercise angina  ST depression  Slope of ST  \
0     109                0            2.4            2
1     160                0            1.6            2
2     141                0            0.3            1
3     105                1            0.2            2
4     121                1            0.2            1

   Number of vessels fluro  Thallium Heart Disease
0                        3         3      Presence
1                        0         7       Absence
2                        0         7      Presence
3                        1         7       Absence
4                        1         3       Absence

Last five rows:
     Age  Sex  Chest pain type   BP  Cholesterol  FBS over 120  EKG results  \
265   52    1                3  172          199             1            0
266   44    1                2  120          263             0            0
267   56    0                2  140          294             0            2
268   57    1                4  140          192             0            0
269   67    1                4  160          286             0            2

     Max HR  Exercise angina  ST depression  Slope of ST  \
265     162                0            0.5            1
266     173                0            0.0            1
267     153                0            1.3            2
268     148                0            0.4            2
269     108                1            1.5            2

     Number of vessels fluro  Thallium Heart Disease
265                        0         7       Absence
266                        0         7       Absence
267                        0         3       Absence
268                        0         6       Absence
269                        3         3      Presence

In [3]:
df.set_index('Sex' , inplace=True)

In [6]:
print(df['BP'])

Sex
1    130
0    115
1    124
1    128
0    120
    ...
1    172
1    120
0    140
1    140
1    160
Name: BP, Length: 270, dtype: int64

In [8]:
select_column = ['Age','BP','Heart Disease']
print(df[select_column])

     Age   BP Heart Disease
Sex
1     70  130      Presence
0     67  115       Absence
1     57  124      Presence
1     64  128       Absence
0     74  120       Absence
..   ...  ...           ...
1     52  172       Absence
1     44  120       Absence
0     56  140       Absence
1     57  140       Absence
1     67  160      Presence

[270 rows x 3 columns]

In [11]:
subset_loc = (df.loc[df['Slope of ST'] == '2'])
print(subset_loc)

Empty DataFrame
Columns: [Age, Chest pain type, BP, Cholesterol, FBS over 120, EKG results, Max HR, Exercise angina, ST depression, Slope of ST, Number of vessels fluro, Thallium, Heart Disease]
Index: []

In [12]:
subset_iloc = df.iloc[0:5, 1:4]
print(subset_iloc)

     Chest pain type   BP  Cholesterol
Sex
1                  4  130          322
0                  3  115          564
1                  2  124          261
1                  4  128          263
0                  2  120          269

In [13]:
filter_age = df[df['BP']  > 30]
print(filter_age)

     Age  Chest pain type   BP  Cholesterol  FBS over 120  EKG results  \
Sex
1     70                4  130          322             0            2
0     67                3  115          564             0            2
1     57                2  124          261             0            0
1     64                4  128          263             0            0
0     74                2  120          269             0            2
..   ...              ...  ...          ...           ...          ...
1     52                3  172          199             1            0
1     44                2  120          263             0            0
0     56                2  140          294             0            2
1     57                4  140          192             0            0
1     67                4  160          286             0            2

     Max HR  Exercise angina  ST depression  Slope of ST  \
Sex
1       109                0            2.4            2
0       160                0            1.6            2
1       141                0            0.3            1
1       105                1            0.2            2
0       121                1            0.2            1
..      ...              ...            ...          ...
1       162                0            0.5            1
1       173                0            0.0            1
0       153                0            1.3            2
1       148                0            0.4            2
1       108                1            1.5            2

     Number of vessels fluro  Thallium Heart Disease
Sex
1                          3         3      Presence
0                          0         7       Absence
1                          0         7      Presence
1                          1         7       Absence
0                          1         3       Absence
..                       ...       ...           ...
1                          0         7       Absence
1                          0         7       Absence
0                          0         3       Absence
1                          0         6       Absence
1                          3         3      Presence

[270 rows x 13 columns]

In [15]:
mean_age = df.groupby('Sex')['Age'].mean()
print(mean_age)

Sex
0    55.678161
1    53.841530
Name: Age, dtype: float64

In [16]:
sum_salary = df.groupby(['Sex', 'Age'])['Number of vessels fluro'].sum()
print(sum_salary)

Sex  Age
0    34     0
     35     0
     37     0
     39     0
     41     1
           ..
1    67     9
     68     1
     69     4
     70     4
     77     3
Name: Number of vessels fluro, Length: 73, dtype: int64

In [17]:
grouped = df.groupby('Sex').agg({
    'Age': ['mean', 'median', 'max'],
    'Cholesterol': ['mean', 'median', 'max']
})

print(grouped)

           Age            Cholesterol
          mean median max        mean median  max
Sex
0    55.678161   57.0  76  264.747126  263.0  564
1    53.841530   54.0  77  242.486339  239.0  353

In [19]:
group_size = df.groupby('Heart Disease')
print(group_size)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001E364286710>

In [26]:

filter_cond = df[(df['Age'] > 45) & (df.index == 1)]
print(filter_cond)

     Age  Chest pain type   BP  Cholesterol  FBS over 120  EKG results  \
Sex
1     70                4  130          322             0            2
1     57                2  124          261             0            0
1     64                4  128          263             0            0
1     65                4  120          177             0            0
1     56                3  130          256             1            2
..   ...              ...  ...          ...           ...          ...
1     49                2  130          266             0            0
1     48                2  110          229             0            0
1     52                3  172          199             1            0
1     57                4  140          192             0            0
1     67                4  160          286             0            2

     Max HR  Exercise angina  ST depression  Slope of ST  \
Sex
1       109                0            2.4            2
1       141                0            0.3            1
1       105                1            0.2            2
1       140                0            0.4            1
1       142                1            0.6            2
..      ...              ...            ...          ...
1       171                0            0.6            1
1       168                0            1.0            3
1       162                0            0.5            1
1       148                0            0.4            2
1       108                1            1.5            2

     Number of vessels fluro  Thallium Heart Disease
Sex
1                          3         3      Presence
1                          0         7      Presence
1                          1         7       Absence
1                          0         7       Absence
1                          1         6      Presence
..                       ...       ...           ...
1                          0         3       Absence
1                          0         7      Presence
1                          0         7       Absence
1                          0         6       Absence
1                          3         3      Presence

[144 rows x 13 columns]

In [27]:
query_filter = df.query('Cholesterol > 350')
print(query_filter)

     Age  Chest pain type   BP  Cholesterol  FBS over 120  EKG results  \
Sex
0     67                3  115          564             0            2
0     63                4  150          407             0            2
0     65                3  140          417             1            2
0     57                4  120          354             0            0
0     65                3  160          360             0            2
0     56                4  134          409             0            2
0     62                4  140          394             0            2
1     55                4  132          353             0            0

     Max HR  Exercise angina  ST depression  Slope of ST  \
Sex
0       160                0            1.6            2
0       154                0            4.0            2
0       157                0            0.8            1
0       163                1            0.6            1
0       151                0            0.8            1
0       150                1            1.9            2
0       157                0            1.2            2
1       132                1            1.2            2

     Number of vessels fluro  Thallium Heart Disease
Sex
0                          0         7       Absence
0                          3         7      Presence
0                          1         3       Absence
0                          0         3       Absence
0                          0         3       Absence
0                          2         7      Presence
0                          0         3       Absence
1                          1         7      Presence

In [28]:
filter_list = [2,3]
filter_data = df[df['Chest pain type'].isin(filter_list)]
print(filter_data)

     Age  Chest pain type   BP  Cholesterol  FBS over 120  EKG results  \
Sex
0     67                3  115          564             0            2
1     57                2  124          261             0            0
0     74                2  120          269             0            2
1     56                3  130          256             1            2
1     44                3  140          235             0            2
..   ...              ...  ...          ...           ...          ...
1     49                2  130          266             0            0
1     48                2  110          229             0            0
1     52                3  172          199             1            0
1     44                2  120          263             0            0
0     56                2  140          294             0            2

     Max HR  Exercise angina  ST depression  Slope of ST  \
Sex
0       160                0            1.6            2
1       141                0            0.3            1
0       121                1            0.2            1
1       142                1            0.6            2
1       180                0            0.0            1
..      ...              ...            ...          ...
1       171                0            0.6            1
1       168                0            1.0            3
1       162                0            0.5            1
1       173                0            0.0            1
0       153                0            1.3            2

     Number of vessels fluro  Thallium Heart Disease
Sex
0                          0         7       Absence
1                          0         7      Presence
0                          1         3       Absence
1                          1         6      Presence
1                          0         3       Absence
..                       ...       ...           ...
1                          0         3       Absence
1                          0         7      Presence
1                          0         7       Absence
1                          0         7       Absence
0                          0         3       Absence

[121 rows x 13 columns]

In [30]:
rename_column = df[['Cholesterol']].rename(columns={'Cholesterol': 'Fats'})
print(rename_column)

     Fats
Sex
1     322
0     564
1     261
1     263
0     269
..    ...
1     199
1     263
0     294
1     192
1     286

[270 rows x 1 columns]