In [1]:
import pandas as pd

df1 =pd.DataFrame({
    'key':['A','B','C','D'],
    'Value1': [1,2,3,4]
})

df2 = pd.DataFrame({
    'key': ['B','D','E','F'],
    'value2':[5,6,7,8]
})

merge_key = pd.merge(df1,df2,on='key')
print(merge_key)

  key  Value1  value2
0   B       2       5
1   D       4       6

In [2]:
df3 = pd.DataFrame({
    'key1':['A','B','C','D'],
    'key2':['X','Y','Z','W'],
    'value1':[1,2,3,4]
    })

df4=pd.DataFrame({
    'key1':['A','B','C','D'],
    'key2':['X','Y','C','D'],
    'value2':[5,6,7,8]
})

merged_key = pd.merge(df3,df4,on=['key1','key2'])
print(merged_key)

  key1 key2  value1  value2
0    A    X       1       5
1    B    Y       2       6

In [3]:
outer_join = pd.merge(df1, df2, on='key', how='outer')
print("Outer Join:\n",outer_join)

inner_join = pd.merge(df1, df2, on='key',how='inner')
print("Inner Join:\n", inner_join)

left_join = pd.merge(df1,df2,on='key',how='left')
print("Left Join:\n",left_join)

right_join = pd.merge(df1,df2,on='key',how='right')
print("Right Join:\n",right_join)

Outer Join:
   key  Value1  value2
0   A     1.0     NaN
1   B     2.0     5.0
2   C     3.0     NaN
3   D     4.0     6.0
4   E     NaN     7.0
5   F     NaN     8.0
Inner Join:
   key  Value1  value2
0   B       2       5
1   D       4       6
Left Join:
   key  Value1  value2
0   A       1     NaN
1   B       2     5.0
2   C       3     NaN
3   D       4     6.0
Right Join:
   key  Value1  value2
0   B     2.0       5
1   D     4.0       6
2   E     NaN       7
3   F     NaN       8

In [6]:
df5 = pd.DataFrame({
    'key':['A','B','C'],
    'value':[1,2,3]

})

df6 = pd.DataFrame({
    'key':['D','E','F'],
    'value':[4,5,6]
})

concatt_rows = pd.concat([df5,df6])
print("Concatenate Along Rows:\n",concatt_rows)

Concatenate Along Rows:
   key  value
0   A      1
1   B      2
2   C      3
0   D      4
1   E      5
2   F      6

In [7]:
df7 = pd.DataFrame({
    'value1':[1,2,3],

})
df8 =pd.DataFrame({
    'value2':[4,5,6]

})
concat_columns = pd.concat([df7,df8],axis=1)
print("Concatenate Along Columns:\n",concat_columns)

Concatenate Along Columns:
    value1  value2
0       1       4
1       2       5
2       3       6

In [8]:
df_list = [df5, df6, pd.DataFrame({'key':['G','H'],'value':[7,8]})]
concat_list = pd.concat(df_list)
print("Concatenate a list of DataFarmes:\n",concat_list)

Concatenate a list of DataFarmes:
   key  value
0   A      1
1   B      2
2   C      3
0   D      4
1   E      5
2   F      6
0   G      7
1   H      8

In [9]:
df_wide = pd.DataFrame({
    'key':['A','B','C'],
    'value1':[1,2,3],
    'value2':[4,5,6]
})

df_long = pd.melt(df_wide,id_vars=['key'],value_vars=['value1','value2'],var_name='variables',value_name='value')
print("Melted DataFrame: \n",df_long)

Melted DataFrame:
   key variables  value
0   A    value1      1
1   B    value1      2
2   C    value1      3
3   A    value2      4
4   B    value2      5
5   C    value2      6

In [10]:
df_pivot  = pd.DataFrame({
    'key':['A','B','A','B'],
    'value1':[1,2,3,4],
    'value2':[5,6,7,8]

})
pivot_table = df_pivot.pivot_table(values='value1', index='key', columns='value2', aggfunc='mean')
print("Pivot Table:\n", pivot_table)

Pivot Table:
 value2    5    6    7    8
key
A       1.0  NaN  3.0  NaN
B       NaN  2.0  NaN  4.0

In [13]:

grouped = df_pivot.groupby('key').agg({
    'value1': 'sum',
    'value2': 'mean'
})
print("Grouped and Aggregated Data:\n", grouped)

Grouped and Aggregated Data:
      value1  value2
key
A         4     6.0
B         6     7.0

In [14]:

multi_agg = df_pivot.groupby('key').agg({
    'value1': ['sum', 'mean'],
    'value2': ['count', 'max']
})
print("Multiple Aggregations:\n", multi_agg)

Multiple Aggregations:
     value1      value2
       sum mean  count max
key
A        4  2.0      2   7
B        6  3.0      2   8

In [15]:

def custom_agg(series):
    return series.max() - series.min()


custom_grouped = df_pivot.groupby('key').agg(custom_agg)
print("Custom Aggregation:\n", custom_grouped)

Custom Aggregation:
      value1  value2
key
A         2       2
B         2       2